<div class="text-center">
    <h1>Mongo Scraper - just because...</h1>
    <h3>So we currently have <i>TODO ADD NUMBER</i> saved articles - let's scrape some more.</h3>

    <button id="scrapeNow" class="btn btn-success">Scrape Pictures For Your Next Vacation!</button>

        <table class="text-center" style="width:100%" border="1x solid black">
            <tr>
                <th class="text-center">Description</th>
                <th class="text-center">Picture</th>
                <th class="text-center">Buttons</th>
                <th class="text-center">Buttons</th>
            </tr>
        {{#each vacationSpots }}
            <tr>
            <td class="text-center">{{locationDescription}}</td>
            <td class="text-center"><img src="{{image}}" class="associatedImg"></td>
            <td class="col-xs-1 yesVote" targetId="{{dataValues.id}}"><img class="smallImg" title="I like it!" src="https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/ok_circle-128.png"></td> 
            <td class="col-xs-1 noVote" targetId="{{dataValues.id}}"><img class="smallImg" title="Hmmm, pass..." src="https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/cancel_circle-128.png"></td>
            </tr>
        {{/each}}
        </table>
    
</div>