<div class="text-center">
    <img class="imgMain" src='/assets/img/burger.png'>
    <h1>Let's make this burger more appetising...</h1>
    <h2>... and give it a new name!!...?</h2>
    <h5>better eating through advertising, I guess?</h5>
     {{#each burger }} 
     {{!-- TODO change this to one instead of each --}}
        <h3>Currently it's called: '{{burger_name}}'</h3>
        
        <label for="newBurgerName">Rename This Burger: </label>
        <input id="newBurgerName" class="form-control" type="text" value="{{burger_name}}">
        <button id="updateThisBurgerButton" burgerId="{{burger_id}}" class="btn btn-success">Rename This Burger!</button>
    {{/each}}
</div>